body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.images {
    flex: 0 0 80%;
    min-height: 70vh;
    background: url(./img/bcg-0.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
}

.btn {
    display: inline-block;
    background: #fff;
    color: #000;
    border: 3px;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    outline: none;
    transition: .2s background;
    -webkit-transition: .2s background;
    -moz-transition: .2s background;
    -ms-transition: .2s background;
    -o-transition: .2s background;
}

.btn:active {
    background: grey;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}